<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ventas.havr.havrventas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".app.MyAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_havr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".Herramientas.DivisorTension"
            android:theme="@style/AppThemeLight"
            android:parentActivityName=".Herramientas.HerramientasActivity" />
        <activity
            android:name=".Herramientas.ResistenciaSerie"
            android:theme="@style/AppThemeLight"
            android:parentActivityName=".Herramientas.HerramientasActivity" />
        <activity
            android:name=".Herramientas.ResistenciaParalelo"
            android:theme="@style/AppThemeLight"
            android:parentActivityName=".Herramientas.HerramientasActivity" />
        <activity
            android:name=".Formulario"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".DialogImage"



            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".ActividadPublicoLogIn"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".ActividadLogin"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Herramientas.CodigoDeColores"
            android:parentActivityName=".Herramientas.HerramientasActivity"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Herramientas.LeyDeOhmAC"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".Herramientas.LeyDeOhmDC"
            android:parentActivityName=".Herramientas.HerramientasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".Herramientas.HerramientasActivity"
            android:parentActivityName=".ActividadPrincipal"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadMasVendido"
            android:parentActivityName=".ActividadPrincipal"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadPedidos"
            android:parentActivityName=".ActividadCotizaciones"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadCotizaciones"
            android:parentActivityName=".Manual"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadBusqueda"
            android:parentActivityName=".Manual"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadPrincipal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Manual"
            android:parentActivityName=".ActividadPrincipal"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".MaterialSKU"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".ViewPDFActivity"
            android:parentActivityName=".ActividadCotizaciones"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".ActividadPDF"
            android:label="@string/title_activity_actividad_pdf"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".ActividadEscogerPDF"
            android:parentActivityName=".Manual"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity android:name=".ActividadHerramientas" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>